/* Body */
.musica-body {
  background-color: #3380FF;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* encabezado */
.encabezado{
  background-color: #3339FF;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 1%;
}

/* barra de mavegacion*/
.barra_navegacion{
  background-color: #BD443B;
  margin-left: 8%;
  margin-right: 8%;
}

.contenido{
  background-color: #3339FF;
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
}

.invisible{
  text-decoration-color: #3380FF
}

.usuario{
  width: 80%;
  height: 30%;
  border-radius: 6px;
  border: 2px solid black;
}

.iconos{
  width: 18%;
}
@media (min-width: 671px) {

/* Imagen del blog*/
.logo {
  width: 35%;
}

.iconos{
  width: 18%;
}
/* contenido general*/

.usuario{
  margin-top: 4%;
}

.imgvalle{
  margin-top: 30%;
}

.imgpop{
  margin-top: 5%;
  margin-left: 0%;
}

.buscador{
  margin-top: 10%;
}

.list-group{
  margin-top: 10%;
}
}
@media (min-width:1px) and (max-width: 670px) {

  .logo {
    width: 50%;
  }

  .iconos {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .imgpop{
    margin-left: 0%;
  }

  .imgvalle{
    margin-top: 5%;
    margin-left: 0%;
    width: 100%;
  }

  .usuario{
    margin-top: 5%;
    width: 70%;
  }

  .list-group{
    margin-top: 10%;
  }
